{% extends 'layout.html' %}
{% block i %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="show-row">
    <form method="post" id="my-form">
        {% csrf_token %}
        {{form}}
    </form>
</div>
<p>
    <button class="btn btn-info" id='csv'>Télecharger csv</button>
</p>

<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Détails</h4>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{% url 'myChart' %}">DHT 11</a></td>
            <td>{{ valeurs.temp }}</td>
            <td>{{ valeurs.hum }} %</td>
            <td>{{ valeurs.date }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script>

    var selectEl = $('#mon_select');

    selectEl.change(function () {
        $('#my-form').submit();
    });

    var downloadButton = document.getElementById('csv');
    downloadButton.addEventListener('click', function () {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/download_csv/', true);
        xhr.responseType = 'blob';
        xhr.onload = function () {
            if (xhr.status === 200) {
                var url = window.URL.createObjectURL(xhr.response);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'model_values.csv';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }
        };
        xhr.send();
    });


</script>
{% endblock i %}